body {
    /* color: white; */
}

#title {
    background-color:#a33d01 !important;
    /* color: rgb(56, 56, 56) !important; */
}

#train-table th,
    td {
      display: inline-block;
      width: 20%;
    }